<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926951333503-iit5vdk55sg3dj2or9uj34lo2l66n44m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926951333503-iit5vdk55sg3dj2or9uj34lo2l66n44m</string>
	<key>API_KEY</key>
	<string>AIzaSyCuXtB7aIjanAdiIXZCact8-Gk60LtcBK0</string>
	<key>GCM_SENDER_ID</key>
	<string>926951333503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginUi</string>
	<key>PROJECT_ID</key>
	<string>auth-login-34bda</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-login-34bda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926951333503:ios:d7cc2c39d532c8ad41a94a</string>
</dict>
</plist>